.cell{
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}
.cell.blocked {
  background-color: black;
}
.cell-number {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 10px;
  color: black;
}