.cell {
  box-sizing: border-box;
  border: 1px solid #000;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}
.cell.blocked {
  background-color: black;
  cursor: default;
}
.cell-number {
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  font-size: 0.45em; 
  color: black;
}

.cell.selected {
  background-color: yellow; 
}

.cell.highlighted {
  background-color: lightblue; 
}