.clue {
  display: flex;
  gap: 0.5rem;

  padding: 0.25rem 0.5rem;
  font-size: larger;
  cursor: pointer;

  min-width: 0;
  overflow-wrap: break-word;
}


.clue.highlighted {
  background-color: lightblue; 
}

.clue.other-direction-highlighted {
  background: grey;
}