.clue {
  display: flex;          
  align-items: center; 
  font-size: larger;
  padding: 0.25rem 0.5rem;   
  cursor: pointer;
}

.clue.highlighted {
  background-color: lightblue; 
}

.clue.other-direction-highlighted {
  background: grey;
}