.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem 1.5rem;
}

.logo {
  width: 200px;      
  height: auto;
  cursor: pointer;

}

.content {
  flex: 1;
}
